body{
    background-image: url(../img/sky.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Anton', sans-serif;
}
.lorem{
    margin: 0 2rem;
    text-align: justify;
}
.h3_remeras{
    margin: 1.5rem 0;
} 
.section_h3{
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.navegacion{
    text-align: center;
}

.navegacion li{
    display: inline;
    margin-right: 5rem;
}

.formulario_contacto{
    margin: 2rem 1rem;
    
}

.formulario{
    border: solid;
    margin: 0rem 1rem;
    margin-right: 50rem;
}
.formulario1{
    display: flex;
    flex-direction: column;
    width: 100%;
}
    


.alineado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1-bienvenidos{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}



.elegi{
    color: rgb(0, 0, 0);
    text-align: center;
    
}

ul{
    list-style: none;
    display: center;

}

a{
    text-decoration: none;
    color: white;
}

.card__parrafo{
    font-size: 1.8rem;
    
}
.card__parrafo--grande{
    font-size: 1.3rem;
}

button{
    padding: 1rem;
    
}
.card__img{
    width: 20rem;
    height: 20rem;
    
}
.productos{
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 3rem;
}
.card__img{
    border:solid  rgb(0, 0, 0);
}



    

.card{
    width: 20rem;
    border: solid black;
    margin-bottom: 5rem;
    margin-right: auto;
    margin-left: auto;
}

.card_body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    
img{
    max-width: 100%;

}

.padre_card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
        
}
    

footer{
    text-align: center;
}

    
.card__parrafo2{
    font-size: 1.8rem;
}


.parrafo_descuento{
    font-size: 1.3rem;
    text-decoration: line-through;
    color: grey;
}
        

.card_img2{
    width: 20rem;
    height: 20rem;
            
}
        

.oferta{
    background-color: yellow;
    width: max-content;
}
            

.precio-descuento{
    font-size: 1.3rem;
}
        
            
.card_img3{
    width: 20rem;
    height: 20rem;
}


.card_4{
    padding: 3rem;
    border: solid rgb(203, 59, 59);
    width: 21rem;
    position: relative;
}
            
.card__parrafo4{
    font-size: 1.8rem;
}


.parrafo4__precio{
    font-size: 1.3rem;
}

footer{
    text-align: center;
}


.modelo-remera{
    width: 35em;
    border:solid #ffffff;
    margin-left: 22rem;
    margin-top: 5rem;
}
            
#carouselExampleIndicators {
    width: 50%;
    margin: 0% auto;
    margin-top: 5rem;
}
            
.guia_talles{
    text-align: center;
    margin-top: 3rem;
}
            
.devolucion{
    text-align: center;
    margin-top: 5rem;

}

.politica1{
    text-align: center;
    padding: 0rem 15rem;
}

.aqui_mapa{
    margin-top: 3rem;
}
            
            
            
@media screen and (max-width: 450px) {
    .nube_nav{
        width: 125px;
        height: 75px;                      
    }
    .nube{
        width: 125px;
        height: 75px;
    }
        .h1-bienvenidos{
        font-size: 1rem;
    }
        .elegi{
        font-size: .8rem;
    }
        .h3_remeras{
        font-size: 0.8rem;
    }
        footer{
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 745px) {
    .padre_card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
                    
    }
}
            
            
            
            
            
            
            
            
            