body {
background-image: url(../img/sky.jpg);
background-position: center center;
background-attachment: fixed;
background-size: cover;
font-family: "Anton", sans-serif;
}


.navegacion {
text-align: center;
}

.navegacion li {
display: inline;
margin-right: 5rem;
}



.medidas{
width: 20rem;
height: 20rem;
}

.card-precio {
    font-size: 1.3rem;
}

.card-parrafo{
    font-size: 1.8rem;
}





footer {
text-align: center;
}