body {
background-image: url(../img/sky.jpg);
background-position: center center;
background-attachment: fixed;
background-size: cover;
font-family: "Anton", sans-serif;
}


.navegacion {
text-align: center;
}

.navegacion li {
display: inline;
margin-right: 5rem;
}






footer {
text-align: center;
}