.aqui_mapa {
    margin-top: 3rem;
    margin-left: 2rem;
    
}

.mapa{
    margin-left: 2rem;
}





@media screen and (max-width: 400px) {
    .aqui_mapa {
        font-size: 1.2rem;
        text-align: center;
        
    }

    .mapa{
    
    @include sizes(380px, 380px)
    margin-left: 0.3rem;
}
footer{
    text-align: center;
    margin-top: 5rem;
    
}

}